<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>938662590488-ckmcvsk2rq59k52j3lbt4pfqd2l5qrdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938662590488-ckmcvsk2rq59k52j3lbt4pfqd2l5qrdp</string>
	<key>API_KEY</key>
	<string>AIzaSyBzeGEPe1QuNZrSLmdSaMCYEstav2p2KxA</string>
	<key>GCM_SENDER_ID</key>
	<string>938662590488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vibrant.Unipeddlers</string>
	<key>PROJECT_ID</key>
	<string>unipeddlers</string>
	<key>STORAGE_BUCKET</key>
	<string>unipeddlers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:938662590488:ios:67145d3d5acc7980</string>
	<key>DATABASE_URL</key>
	<string>https://unipeddlers.firebaseio.com</string>
</dict>
</plist>